!!! 5
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
		%meta{:content=>'width=device-width, initial-scale=1.0, user-scalable=no', :name=>'viewport'}
		- if data.page.title
			%title= data.page.title + ' - Euphorbia Team'
		- else
		%title= 'Team Euphorbia'
		= stylesheet_link_tag "normalize", "all" 
		= javascript_include_tag  "all"
	
	%body{:class=>"#{page_classes}"}
	
		%header
			%a{:href=>'/', :title=>'Team Euphorbia'}
				%h1
			%nav
				%a.project{:href=>'project.html'} Project
				%a.research{:href=>'research.html'} Research
				%a.product{:href=>'product.html'} Product
				%a.be-eco{:href=>'be-eco-app/index_en.html'} Try It!
		
		= yield
		
		%footer
			.sponsors_bar
				#sponsors
					.image
				%img{:src=>'images/cmu-portugal.png', :title=>'Carnegie Mellon | Portugal'}
				%a{:href=>'#', :onclick=>'return toggleSponsors();'}Sponsors
